# This reusable workflow verifies that the software quality meets certain standards.
# It also produces build artefacts that can be published at a later stage.
#
# It is triggered by other workflows as needed.
# It is also triggered by pushing commits to the `main` branch to prepare the workflow cache for future pull requests.
# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/caching-dependencies-to-speed-up-workflows#restrictions-for-accessing-a-cache
#
# It can be triggered manually on any branch via the GitHub CLI:
#
#   gh workflow run integrity.yml [--ref <branch-name>]
#   gh run watch
#
# It can also be triggered manually on any branch via the GitHub web interface:
# https://github.com/rainstormy/presets-typescript/actions/workflows/integrity.yml

name: Integrity

on:
  push:
    branches:
      - main
  workflow_call:
  workflow_dispatch:

# Cancel all previous runs of this workflow that are still in progress on the same branch.
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#concurrency
concurrency:
  # For `workflow_call` events, `github.workflow` is the caller workflow instead of this workflow.
  # The `integrity-` prefix makes GitHub Actions distinguish this job from other jobs in the caller workflow.
  # https://docs.github.com/en/actions/using-workflows/reusing-workflows
  group: integrity-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# All third-party actions are pinned to a specific commit SHA for security reasons.
# https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-third-party-actions
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 2
    permissions:
      # To check out the repository.
      contents: read
    steps:
      - name: Check out the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        #
      - name: Build the project
        uses: ./.github/actions/task
        with:
          # CAUTION: The cache key is repeated in `.github/actions/build-artefacts/action.yml` to restore the build artefacts.
          cache-key: build:${{ hashFiles('src/**/*', 'build.js', 'mise.toml', 'pnpm-lock.yaml') }}
          cache-path: dist/
          # language=sh
          task: build

  check:
    name: Clean code
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 2
    permissions:
      # To check out the repository.
      contents: read
    steps:
      - name: Check out the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        #
      - name: Verify the workflow syntax (actionlint)
        uses: ./.github/actions/task
        with:
          cache-key: check_actions:${{ hashFiles('.github/**/*.yml') }}
          cache-path: node_modules/.cache/actionlint/
          # language=sh
          task: check_actions
        #
      - name: Verify the code style (Biome)
        uses: ./.github/actions/task
        with:
          cache-key: check_fmt:${{ hashFiles('.github/**/*', '.vscode/**/*', 'src/**/*', '*.json', '*.jsonc', '.editorconfig', 'build.js', 'mise.toml', 'pnpm-lock.yaml') }}
          cache-path: node_modules/.cache/biome/
          # language=sh
          task: check_fmt
        #
      - name: Verify the Renovate configuration
        uses: ./.github/actions/task
        with:
          cache-key: check_renovate:${{ hashFiles('.github/renovate.json') }}
          cache-path: node_modules/.cache/renovate/
          # language=sh
          task: check_renovate
